@media (max-width: 1420px)
  .set
    &__button
      &--prev
        left: 2%
      &--next
        right: 2%
@media (max-width: 1200px)
  .container
    max-width: 960px
  .main-book
    &__description
      flex-basis: 420px
      margin-top: 0
    &__name
      margin-top: 0
      line-height: 50px
      font-size: 40px
    &__text
      margin-bottom: 45px
    &__keys
      display: flex
      flex-direction: column
      align-items: center
    &__button
      padding-left: 50px
      padding-right: 50px
      margin: 0
      max-width: 250px
    &__link
      padding-left: 50px
      padding-right: 50px
      margin: 0
      max-width: 250px
      &--read
        margin-top: 24px
  .reference
    &-wrapper
      justify-content: space-around
    &__plate
      &--hidden
        display: none
    &__book
      flex-basis: 358px
  .set
    &-slider
      &__card
        flex-basis: 200px
        padding-top: 25px
        padding-bottom: 25px
        text-align: center
      &__img
        margin-bottom: 20px
    &__button
      top: 88%
      &--prev
        left: 30%
      &--next
        right: 30%
  .unreleased
    &-slider
      &__book
        &--last
          display: none
  .history
    &-wrapper
      width: 800px
    &-video
      &__wrapper
        width: 230px
      &__photo
        width: 800px
      &__main
        height: 302px
      &__img
        max-width: 100%
      &__small
        width: 230px
    &__subtitle
      min-width: 150px
  .blog
    &-articles
      &__main
        width: 380px
    &__img
      &--main
        width: 380px
      &--small
        width: 230px
        border-radius: 8px
    &__text
      width: 380px
      margin-left: 0
    &__subtitle
      &--main
        margin-left: 0
        margin-top: 60px
        margin-bottom: 60px
  .registration
    &-wrapper
      padding-right: 40px
      padding-left: 40px
  .footer
    &-links
      padding-right: 0
      flex-wrap: wrap
    &__list
      &--main
        width: 200px
@media (max-width: 992px)
  .container
    max-width: 700px
  .main-book
    &__description
      flex-basis: 330px
    &__name
      line-height: 45px
      font-size: 35px
    &__author
      font-size: 16px
      line-height: 20px
    &__text
      font-size: 16px
      line-height: 24px
    &__wrapper
      width: 330px
      height: 450px
      margin-top: 50px
  .reference
    &-wrapper
      justify-content: space-between
    &__book
      flex-basis: 340px
    &__plate
      width: 340px
      padding-right: 0
    &-top
      flex-basis: 340px
      &__books
        padding-right: 15px
        padding-left: 15px
  .set
    &-slider
      height: 100%
      &__item
        flex-wrap: wrap
        justify-content: space-around
      &__card
        flex-basis: 240px
        margin-bottom: 20px
  .unreleased
    height: 100%
    &-slider
      &__item
        display: grid
        grid-template-columns: 1fr 1fr
        justify-items: center
      &__book
        margin-bottom: 50px
  .history
    &-wrapper
      width: 700px
    &__title
      font-size: 34px
      line-height: 40px
    &__text
      width: 300px
      margin-right: 0
      margin-bottom: 30px
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 25px
    &-video
      width: 700px
      &__photo
        width: 700px
      &__main
        height: 264px
      &__wrapper
        width: 210px
      &__btn
        &--main
          width: 70px
          height: 70px
      &__play
        width: 26px
        height: 31px
        &--main
          margin-top: 20px
          margin-left: 25px
      &__author
        font-size: 12px
        line-height: 17px
    &__subtitle
      font-size: 16px
      line-height: 23px
  .publishers
    height: 100%
    &__title
      text-align: center
    &__name
      display: grid
      grid-template-columns: 1fr 1fr 1fr
      justify-content: center
      align-content: center
      row-gap: 50px
      margin-bottom: 30px
      &--second
        display: none
    &__brand
      margin: auto
  .blog
    &-wrapper
      flex-direction: column
      align-items: center
    &__title
      margin-top: 70px
    &__button
      order: 3
      margin-top: 40px
      width: 80%
    &-articles
      flex-direction: column
      align-items: center
      &__main
        width: 556px
        margin-right: 0
        display: flex
        flex-direction: column
        align-items: center
      &__small
        width: 556px
    &__subtitle
      &--main
        margin-bottom: 40px
    &__img
      &--main
        width: 556px
    &__text
      width: 556px
      text-align: center
  .registration
    &-wrapper
      flex-direction: column
      justify-content: center
    &__title
      width: 500px
      margin-bottom: 15px
      margin-top: 0
  .footer
    &__list
      &--main
        text-align: center
        width: 250px
        order: 5
        margin-top: 50px
    &-links
      justify-content: center
  .modal
    &__dialog
      padding-right: 65px
      padding-left: 65px
    &__info
      margin-top: 0
      margin-bottom: 20px
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .logo
    margin-left: -1px
  .navbar
    &-wrapper
      margin-top: 0
      margin-left: 2px
      height: 70px
    &__hidden
      display: none
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 70px
      padding-top: 0
      z-index: 99
      &--visible
        max-width: inherit
        display: block
        overflow-y: auto
      &__mobile
        max-width: 100%
        margin: 0
    &--fixed
      position: fixed
      left: 0
      top: 0
      right: 0
      z-index: 99
  .menu
    &-button
      display: flex
      width: 22px
      height: 18px
      padding: 0
      margin-right: 5px
      margin-bottom: 6px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 22px
        height: 2px
        background-color: $text-color
  .main
    margin-top: 70px
    &-book
      flex-direction: column
      margin-top: 20px
      height: 100%
      &__description
        flex-basis: 90%
        align-items: center
        margin-bottom: 25px
      &__name
        margin-bottom: 40px
        text-align: center
        margin-top: 10px
      &__author
        text-align: center
      &__text
        line-height: 30px
        text-align: center
      &__keys
        flex-direction: row
        justify-content: space-between
        width: 100%
      &__link
        &--read
          margin-top: 0
      &__wrapper
        width: 100%
      &__img
        margin-top: 50px
        margin-bottom: 50px
  .reference
    &-wrapper
      flex-direction: column
      justify-content: center
    &__book
      justify-content: center
      text-align: center
    &__plate
      flex-basis: 90%
      padding-left: 15px
      &--mobile
        display: none
    &__more
      width: 90%
    &__description
      align-items: center
      width: 100%
    &-top
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      text-align: center
      margin-top: 80px
      &__books
        display: flex
        flex-direction: column
      &__plate
        justify-content: center
  .history
    &-wrapper
      width: 500px
      margin-bottom: 10px
    &__title
      font-family: Roboto Condensed
      font-style: normal
      font-weight: bold
      font-size: 28px
      line-height: 36px
      margin-top: 70px
    &__text
      width: 280px
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 25px
      margin-top: 70px
    &__subtitle
      font-family: Roboto
      font-style: normal
      font-weight: 500
      font-size: 16px
      line-height: 20px
      min-width: 50px
      margin-top: 16px
      margin-bottom: 6px
    &-video
      width: 500px
      &__main
        height: 190px
      &__btn
        &--main
          width: 56px
          height: 56px
      &__photo
        width: 500px
      &__small
        width: 140px
      &__play
        width: 17px
        height: 22px
        &--main
          margin-top: 18px
          margin-left: 22px
      &__img
        height: 138px
        object-fit: cover
        &--main
          height: 100%
      &__wrapper
        width: 140px
        flex-direction: column
        align-items: center
        margin-bottom: 70px
      &__author
        font-family: Open Sans
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 20px
      &__checkbox
        width: 10px
        height: 14px
      &__link
        order: 3
        margin-top: 0
  .blog
    &-wrapper
      margin-bottom: 50px
    &__title
      font-family: Roboto Condensed
      font-style: normal
      font-weight: bold
      font-size: 36px
      line-height: 42px
      margin-top: 50px
    &-articles
      &__main
        width: 100%
      &__small
        width: 500px
    &__img
      border-radius: 5px
      &--main
        width: 500px
      &--small
        width: 190px
    &__text
      margin-top: 0
      width: 500px
    &__subtitle
      &--main
        margin-top: 30px
        margin-bottom: 30px
  .footer
    &-wrapper
      padding-bottom: 0
    &-links
      display: grid
      justify-items: center
      grid-template-columns: 1fr 1fr
      padding-top: 10px
    &__list
      width: 130px
      margin-top: 60px
      &--main
        min-width: 263px
        grid-column-start: 1
        grid-column-end: 3
    &__title
      font-size: 16px
      line-height: 22px
    &__link
      font-size: 14px
      line-height: 20px
    &__copyright
      display: none
  .modal
    &__dialog
      padding-right: 45px
      padding-left: 45px
      min-height: auto
@media (max-width: 576px)
  .container
    width: 89%
  .main-book
    margin-bottom: 58px
    &__description
      margin-bottom: 35px
    &__name
      font-family: Roboto Condensed
      font-style: normal
      font-weight: bold
      font-size: 32px
      line-height: 40px
      margin-bottom: 25px
      letter-spacing: 0.1px
    &__author
      font-size: 16px
      line-height: 24px
    &__text
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 23px
      margin-bottom: 19px
    &__keys
      flex-direction: column
    &__button
      min-width: 176px
      font-size: 16px
      line-height: 22px
      padding: 8px 20px
      &--buy
        padding-left: 16px
        padding-right: 16px
    &__link
      min-width: 176px
      font-size: 16px
      line-height: 22px
      padding: 8px 20px
      &--read
        margin-top: 13px
    &__wrapper
      margin-top: 0
      height: 332px
    &__img
      width: 144px
      height: 215px
      margin-top: 60px
      margin-bottom: 60px
    &__success
      width: 280px
      font-size: 18px
      line-height: 24px
  .reference
    &-wrapper
    &__title
      font-size: 28px
      line-height: 36px
    &__plate
      flex-direction: column
      flex-basis: 100%
      height: 312px
      align-items: center
      margin-top: 48px
      margin-bottom: 24px
      padding-left: 0
    &__img
      width: 95px
      height: 137px
      margin-top: -38px
    &__description
      height: 148px
      padding: 0
      margin-left: 0
      margin-top: 19px
      &--top
        align-items: start
        margin-top: 4px
        height: 136px
    &__genre
      font-size: 14px
      line-height: 20px
      margin-bottom: 3px
    &__price
      margin-top: 3px
      &--world
        font-size: 16px
        line-height: 20px
        margin-top: -8px
        margin-left: -10px
      &--top
        margin-top: -2px
    &__subtitle
      font-family: Roboto Condensed
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 24px
      letter-spacing: 0.2px
      margin-top: 1px
      &--world
        font-family: Roboto
        font-style: normal
        font-weight: 500
        font-size: 20px
        line-height: 24px
    &-buy
      margin-left: -5px
      &__button
        margin-left: 5px
        &--world
          padding: 7px 27px
          margin-left: 0px
    &__more
      width: 100%
      font-size: 16px
      line-height: 20px
      text-transform: none
      padding: 14px 60px
    &-top
      margin-top: 56px
      &__books
        margin-top: 12px
        width: 100%
        min-width: 290px
      &__plate
        max-width: 229px
        text-align: left
        margin-bottom: 34px
        padding-right: 5px
        &--last
          margin-bottom: 40px
      &__img
        margin-right: 14px
        width: 95px
        height: 142px
    &__best
      padding-top: 20px
      padding-bottom: 20px
      padding-left: 0
  .set
    &__container
      width: 93%
    &-slider
      margin-top: 57px
      margin-bottom: 30px
      padding-top: 55px
      height: 540px
      &__item
        display: grid
        grid-template-columns: 1fr 1fr
        grid-column-gap: 6px
        justify-items: center
      &__card
        flex-basis: 140px
        max-width: 140px
        height: 182px
        padding: 20px 12px
        margin-bottom: 10px
        justify-content: space-between
      &__img
        width: 36px
        height: 36px
        margin-bottom: 16px
      &__title
        font-family: Roboto Condensed
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 20px
        letter-spacing: 0.2px
        margin-bottom: 10px
        &--will
          margin-top: -20px
      &__about
        font-size: 12px
        line-height: 20px
    &__button
      width: 48px
      height: 48px
      background-size: 12px
      top: 90%
      &--prev
        left: 41%
      &--next
        right: 32%
  .unreleased
    padding-bottom: 7px
    &-slider
      flex-direction: column
      &__title
        font-family: Roboto Condensed
        font-style: normal
        font-weight: bold
        font-size: 28px
        line-height: 36px
        margin-top: 48px
        margin-bottom: 41px
      &__button
        width: 48px
        height: 48px
        background-size: 10px
        margin-top: 0
        &--prev
          margin-right: 16px
      &__book
        margin-bottom: 40px
        &--other
          display: none
      &__item
        grid-template-columns: 1fr
      &__wrapper
        order: 2
      &__keys
        order: 3
        max-height: 48px
        margin-bottom: 43px
  .history
    overflow: hidden
    &__container
      width: 93%
    &-wrapper
      flex-direction: column
      align-items: center
      max-width: 100%
    &__title
      margin-top: 45px
      margin-bottom: 24px
    &__subtitle
      margin-top: 12px
    &__text
      margin-top: 0
      margin-bottom: 35px
      text-align: center
    &-video
      max-width: 100%
      &__wrapper
        margin-bottom: 40px
        &--last
          display: none
      &__main
        max-width: 100%
        height: 100%
        margin-bottom: 17px
      &__img
        &--main
          max-width: 100%
          min-height: 210px
          object-fit: cover
      &__play
        &--white
          width: 21px
          height: 27px
      &__checkbox
        margin-top: 17px
  .publishers
    &-wrapper
      padding-right: 0
      padding-left: 0
      padding-top: 36px
      padding-bottom: 32px
    &__title
      font-size: 24px
      line-height: 30px
      margin-bottom: 30px
      margin-right: 0
    &__name
      grid-template-columns: 1fr 1fr
      row-gap: 20px
      padding-left: 15px
      padding-right: 15px
    &__brand
      width: 86px
      &--slack
        width: 98px
  .blog
    &-wrapper
      margin-bottom: 48px
    &__title
      font-size: 28px
      line-height: 36px
      margin-top: 56px
      margin-bottom: 48px
      letter-spacing: 0.2px
    &__img
      &--main
        width: 100%
        max-height: 120px
      &--small
        width: 90px
        height: 90px
        margin-right: 20px
    &-articles
      width: 100%
      padding-left: 2px
      &__main
        align-items: start
      &__small
        width: 100%
      &__description
        height: 93px
      &__date
        font-family: Open Sans
        font-style: normal
        font-weight: normal
        font-size: 10px
        line-height: 20px
      &__read
        font-family: Roboto Condensed
        font-style: normal
        font-weight: bold
        font-size: 10px
        line-height: 20px
        letter-spacing: 0.125px
      &__item
        margin-bottom: 28px
    &__subtitle
      font-family: Roboto Condensed
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 20px
      &--main
        margin-top: 20px
        margin-bottom: 10px
      &--small
        font-family: Roboto
        font-style: normal
        font-weight: 500
        font-size: 14px
        line-height: 20px
        letter-spacing: 0.1px
    &__text
      width: 100%
      text-align: start
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 24px
      letter-spacing: 0.1px
      margin-bottom: 28px
    &__button
      margin-top: 8px
      width: auto
      padding-left: 47px
      padding-right: 47px
      font-family: Roboto Condensed
      font-style: normal
      font-weight: bold
      font-size: 14px
      line-height: 20px
  .registration
    &__container
      width: 100%
    &-wrapper
      padding: 26px 24px 28px 24px
      height: 306px
      border-radius: 0
    &__title
      font-family: Roboto Condensed
      font-style: normal
      font-weight: bold
      font-size: 28px
      line-height: 36px
      letter-spacing: 0.2px
      margin-top: 0
      margin-bottom: 32px
      max-width: 100%
  .subscribe
    height: 112px
    width: 100%
    overflow: hidden
    &__input::placeholder
      top: 17px
    &__input
      padding-bottom: 58px
      padding-right: 20px
      margin-bottom: 0
      width: 100%
    &__button
      top: 58px
      bottom: 12px
      right: 11px
      max-height: 42px
      width: 92%
  .footer
    &-wrapper
      padding-bottom: 0px
    &-links
      padding-top: 9px
      padding-bottom: 0
    &__list
      margin-top: 39px
      height: 202px
      &--main
        margin-top: 9px
    &__title
      margin-bottom: 20px
    &__item
      margin-top: 15px
    &__text
      margin-top: 10px
      margin-left: -7px
      margin-bottom: 15px
    &__logo
      margin-left: 2px
    &__networks
      margin-left: 4px
@media (min-width: 992px)
  .blog
    &__button:hover
      color: #FAAD13
      transition: 0.25s ease
    &__button:active
      background-color: #ecd6a9
      box-shadow: inset 0 0 0 3px #fff
    &-articles
      &__read:hover
        text-decoration: underline
        transition: 0.25s ease
      &__read:active
        color: #fa0606
  .footer
    &__img:hover
      background-color: #dfdfdf
      transition: 0.25s ease
    &__img:active
      background-color: #ecd6a9
    &__link:hover
      text-decoration: underline
      transition: 0.25s ease
    &__link:active
      color: #fa0606
  .navbar
    &-menu
      &__link:hover
        text-decoration: underline
        transition: 0.25s ease
      &__link:active
        color: #fa0606
      &__button:hover
        color: #FAAD13
        transition: 0.25s ease
      &__button:active
        background-color: #ecd6a9
  .history
    &-video
      &__btn
        &--main:hover
          background-color: #c4c4c4
          transition: 0.25s ease
        &--main:active
          background-color: #ecd6a9
        &--small:hover
          background-color: #c4c4c4
          transition: 0.25s ease
        &--small:active
          background-color: #ecd6a9
      &__link:hover
        background-color: #b6a8f5
        transition: 0.25s ease
      &__link:active
        background-color: #eb211a
  .main-book
    &__button
      &--buy:hover
        color: #FAAD13
        transition: 0.25s ease
      &--buy:active
        background-color: #ecd6a9
    &__link
      &--read:hover
        color: #FAAD13
        transition: 0.25s ease
      &--read:active
        background-color: #ecd6a9
  .modal
    &__close:hover
      background-color: #c4c4c4
      transition: 0.25s ease
    &__close:active
      background-color: #eb211a
  .reference
    &-buy
      &__button:hover
        color: #FAAD13
        transition: 0.25s ease
      &__button:active
        background-color: #ecd6a9
      &__link:hover
        transition: 0.25s ease
        background-color: #d8d5d5
    &__more:hover
      color: #FAAD13
      transition: 0.25s ease
    &__more:active
      background-color: #ecd6a9
    &__best:hover
      color: #FAAD13
      transition: 0.25s ease
    &__best:active
      background-color: #ecd6a9
  .subscribe
    &__button:hover
      color: #744b47
      transition: 0.25s ease
    &__button:active
      background-color: #ecd6a9
  .set
    &__button
      &--prev:hover
        background-color: #e7e7e7
        transition: 0.25s ease
      &--prev:active
        background-color: #ecd6a9
      &--next:hover
        background-color: #e7e7e7
        transition: 0.25s ease
      &--next:active
        background-color: #ecd6a9
  .unreleased
    &-slider
      &__button
        &--prev:hover
          background-color: #222242
          transition: 0.25s ease
        &--prev:active
          background-color: #ecd6a9
        &--next:hover
          background-color: #222242
          transition: 0.25s ease
        &--next:active
          background-color: #ecd6a9
