.navbar
  &-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    height: 100px
    margin-top: 11px
  &-menu
    display: flex
    justify-content: space-between
    flex-basis: 467px
    align-items: center
    padding-left: 0
    &__item
      list-style-type: none
    &__link
      text-decoration: none
      font-family: Open Sans
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: $heading
      letter-spacing: 0.1px
    &__button
      padding: 12px 31px
      margin-left: 45px
      margin-right: 3px
      font-family: Open Sans
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 22px
  &__mobile
    &-button
      display: none
.logo
  margin-left: -3px
  margin-top: 2px
