.main-book
  display: flex
  justify-content: space-between
  height: 580px
  margin-top: 69px
  margin-bottom: 100px
  &__description
    display: flex
    flex-direction: column
    justify-content: space-between
    flex-basis: 478px
    margin-top: 52px
    margin-bottom: 51px
  &__name
    max-width: 443px
    color: $heading
    font-family: 'Roboto Condensed'
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 60px
  &__naming
    color: #FAAD13
  &__wrapper
    width: 488px
    height: 580px
    padding: auto
